services:
  database:
    image: "postgres:latest"
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - lms_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"

volumes:
  lms_data: