.login-container body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #2c3e50;
}

.login-container header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}

.login-container main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.login-container div.loading {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.login-container .form-container {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-weight: bold;
    text-align: start;
}

input {
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: start;
}

button {
    margin-top: 1.5rem;
    font-size: 1rem;
    padding: 0.7rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #2980b9;
}

.signup-link {
    margin-top: 1rem;
}

a {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 1rem;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.required {
    color: red;
    font-size: 0.8rem;
    margin-left: 0.2rem;
}


.error-message {
    margin-top: 20px;
    color: #e74c3c;
    background-color: #fceaea;
    border: 1px solid #e0b4b4;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    text-align: center;
}