@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

:root {
  --bg-primary-color: #f4f4f9;
  --app-primary-color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
}